.counter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub, .add{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #FCBF49;
    padding: 0;
    width: 32rem;
    height: 32rem;
    font-size: 26rem;
}

.sub{
    background-color: white;
    border: 1px solid;
}

.count{
    font-size: 20rem;
    margin: 0 10rem;
}