.item{
    border-bottom: 1px solid #f2f2f2;
    align-items: center;
    display: flex;
    padding: 20rem;
}



.imageBox{
    width: 360rem;
}
.imageIcon{
    width: 100%;
    object-fit: cover;
}


.contentsBox{
    padding-left: 20rem;
    width: 1000rem;
}

.name{
    font-weight: normal;
    font-size: 28rem;
    margin: 0;
}
.desc{
    margin: 0;
    color: #bbb;
    font-size: 22rem;
    padding-right: 25rem;
}

.counter{
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
    padding-right: 10rem;
}

.price{
    font-weight: bold;
    font-size: 28rem;
}

.price::before{
    content: '$';
    font-size: 20rem;
}
